@page "/{city?}"
@implements IDisposable
@using Majorsoft.Blazor.Extensions.BrowserStorage
@using Models;

<PageTitle>Графіки відключення світла - @_cityData?.name</PageTitle>

@if (_queues == null)
{
    <p class="text-center text-secondary">Завантаження розкладу відключень...</p>
}
else
{
    <div class="row">
        <div class="col">
            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <h1 class="text-center">@_cityData?.name</h1>
                    <h2 class="text-primary text-center">Зараз @_tick.ToString("HH:mm:ss")</h2>
                    <div class="card-text">
                        @foreach (var queue in _queues)
                        {
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" checked="@(queue.IsChecked)" value="@(queue.IsChecked)" id="@queue.name" 
                                @onclick="@(async () => 
                                {
                                    queue.IsChecked = !queue.IsChecked;
                                    await SaveSelectedQueue(City, queue.name, queue.IsChecked);
                                })">
                                <label class="form-check-label" for="@queue.name">
                                    @queue.name
                                </label>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2 class="mt-5">Сьогодні, @_tick.ToString("d.MM")</h2>
            <dl class="row align-content-center">
                @foreach (var g in GetSchedule(_tick).GroupBy(x => x.Queue))
                {
                    <dt class="col-sm-6 col-md-4 @GetQueueCssClass(g)">@g.Key.name</dt>
                    <dd class="col-sm-6 col-md-8">
                        <ul class="list-group">
                            @foreach (var time in g.Select(x => x.Time))
                            {
                                <li class="list-group-item list-group-item-@GetTimeCssClass(time)">@time.from - @time.to</li>
                            }
                        </ul>
                    </dd>
                }
            </dl>
        </div>
        <div class="col-md-6">
            @{
                var nextDay = _tick.AddDays(1).Date;
            }
            
            <h2 class="mt-5 text-secondary">Завтра, @nextDay.ToString("d.MM")</h2>
            <dl class="row align-content-center">
                @foreach (var g in GetSchedule(nextDay).GroupBy(x => x.Queue))
                {
                    <dt class="col-sm-6 col-md-4">@g.Key.name</dt>
                    <dd class="col-sm-6 col-md-8">
                        <ul class="list-group">
                        @foreach (var time in g.Select(x => x.Time))
                        {
                            <li class="list-group-item">@time.from - @time.to</li>
                        }
                        </ul>
                    </dd>
                }
            </dl>
        </div>
    </div>
    var contact = "https://t.me/UaWarcat";
    <p class="text-secondary">Розклад відключень електроенергії базується на <a target="_blank" href="./data/sumy.png">цьому</a> графіку</p>
    <p class="text-secondary">Пропозиції, зауваження пишіть в <a target="_blank"tar href="@contact">телеграм</a></p>
    <p class="text-center">V 0.3</p>
}

@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject ILocalStorageService _localStorageService

@code {
    [Parameter]
    public string City { get; set; }

    private Models.City? _cityData;
    private Queue[]? _queues;
    System.Threading.Timer? _timer;
    private DateTime _tick;

    private SelectedQueue[] _selectedQueues;

    public Index()
    {
        City = "sumy";
    }

    protected override async Task OnInitializedAsync()
    {
        City = City ?? "sumy";
        _cityData = await LoadFromLocalCache(City);

        if (_cityData == default)
        {
            _cityData = await Http.GetFromJsonAsync<City>($"./data/{City}.json");
            await SaveToLocalCache(City, _cityData);
        }

        if (_cityData != default)
            _queues = (_cityData?.queues ?? Enumerable.Empty<Queue>().ToList()).ToArray();

        if (_queues != default)
        {
            _selectedQueues = await LoadSelectedQueues(City);
            foreach (var item in _selectedQueues)
            {
                var q = _queues.FirstOrDefault(x => x.name == item.QueueName);
                if (q == default)
                    continue;

                q.IsChecked = item.IsSelected;
            }
        }

        _tick = DateTime.Now;
        _timer = new System.Threading.Timer(async _ =>
        {
            _tick = DateTime.Now.ToLocalTime();      
            await InvokeAsync(StateHasChanged);
        }, null, 0, 1000);
    }

    public async Task<City?> LoadFromLocalCache(string cityId)
    {
        var lastModified = await _localStorageService.GetItemAsync<string>("cache_lastmodified_" + cityId);
        if (lastModified == default || DateTime.Parse(lastModified).AddDays(1) < DateTime.Today)
            return default;

        return await _localStorageService.GetItemAsync<City>("cache_" + cityId);
    }

    public async Task SaveToLocalCache(string cityId, City? data)
    {
        if (data == default)
            return;

        await _localStorageService.SetItemAsync<string>("cache_lastmodified_" + cityId, DateTime.Now.ToString());
        await _localStorageService.SetItemAsync<City>("cache_" + cityId, data);
    }

    public async Task<SelectedQueue[]> LoadSelectedQueues(string cityId)
    {
        var result = new List<SelectedQueue>();
        await foreach (var key in _localStorageService.GetAllKeysAsync())
        {
            if (!key.StartsWith(cityId))
                continue;

            var queueName = key.Replace(cityId + "_", string.Empty);
            var isSelected = await _localStorageService.GetItemAsync<bool>(key);

            result.Add(new SelectedQueue
            {
                City = cityId,
                QueueName = queueName,
                IsSelected = isSelected
            });
        }

        return result.ToArray();
    }

    public async Task SaveSelectedQueue(string cityId, string queuName, bool isSelected)
    {
        await _localStorageService.SetItemAsync<bool>($"{cityId}_{queuName}", isSelected);
    }

    public IEnumerable<QueueTime> GetSchedule(DateTime date)
    {
        if (_queues == default)
            return Enumerable.Empty<QueueTime>();

        return _queues.Where(q => q.IsChecked)
                     .SelectMany(q =>
                         q.ranges
                             .Where(r => r.days.Contains(date.Day))
                             .SelectMany(r => r.offline_time)
                             .Select(t => new QueueTime(q, t)));
    }

    public string GetTimeCssClass(OfflineTime time)
    {
        var isPassed = time.To < _tick.TimeOfDay;
        var isCurrent = time.From < _tick.TimeOfDay && time.To > _tick.TimeOfDay;
        var isFeature = !isCurrent && time.From < _tick.TimeOfDay.Add(TimeSpan.FromMinutes(120));

        if (isPassed) return "secondary";
        if (isCurrent) return "danger";
        if (isFeature) return "warning";

        return "";
    }

    public string GetQueueCssClass(IGrouping<Queue, QueueTime> g)
    {
        if (g.Any(t => GetTimeCssClass(t.Time).Contains("danger")))
            return "text-danger";

        if (g.Any(t => GetTimeCssClass(t.Time).Contains("warning")))
            return "text-warning";

        if (g.All(t => GetTimeCssClass(t.Time).Contains("secondary")))
            return "text-secondary";

        return "";
    }

    public void Dispose()
    {
        _timer?.Dispose();
    }
}